@font-face {
  font-family: 'Musical';
  src: url('/musical.ttf');
  src: local('☺'),
  url('/musical.ttf') format('truetype');
}

@mixin icon($name,$character,$font-family){
  .#{$name}{
    display: flex;
    flex-direction: column;
    align-items: center;
    &:before{
      position: relative;
      @if $character == w {
        top: -8px;
        left: 2px;
      } @else {
        top: -5px;
        left: 4px;
      }

      line-height: 0.5em;
      text-transform: none; // Problem når ikon settes i en button fra material ui
      font-family: $font-family;
      text-align: center;
      content: "#{$character}";
    }

  }
}

@include icon("whole-note", "w", "Musical");
@include icon("half-note", "h", "Musical");
@include icon("quarter-note", "q", "Musical");
@include icon("eighth-note", "e", "Musical");